In [35]:
import pandas as pd
# setting an index beforehand
df = pd.read_csv('../../DevSurvey2020/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('../../DevSurvey2020/survey_results_schema.csv', index_col='Column')
# index_col -> setting the index 
pd.set_option('display.max_columns', 61)
pd.set_option('display.max_rows', 61)

df

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64858,NaN,Yes,NaN,16,NaN,NaN,NaN,United States,NaN,NaN,NaN,NaN,Senior executive/VP,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very important,NaN,NaN,Once a decade,NaN,NaN,NaN,NaN,Start a free trial,Amused,Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend,Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,NaN,NaN,10,Less than 1 year
64867,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Morocco,NaN,NaN,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,Cassandra;Couchbase;DynamoDB;Elasticsearch;Fir...,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64898,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Viet Nam,NaN,NaN,NaN,NaN,NaN,Primary/elementary school,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64925,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Poland,NaN,NaN,DynamoDB;Elasticsearch;MongoDB;MySQL;PostgreSQL,Oracle,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript,HTML/CSS,Node.js,NaN,Github;Gitlab,Confluence;Jira;Slack;Microsoft Teams,NaN,NaN,NaN,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial,"Hello, old friend",Stack Overflow (public Q&A for anyone who codes),Call a coworker or friend;Visit Stack Overflow,Windows,NaN,NaN,Linux;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Angular;Angular.js;React.js,NaN,NaN,NaN,NaN,NaN
65112,NaN,Yes,NaN,NaN,NaN,NaN,NaN,Spain,NaN,NaN,MariaDB;Microsoft SQL Server,MariaDB;Microsoft SQL Server;MySQL;Oracle,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)",Employed full-time,NaN,NaN,NaN,NaN,NaN,C#;HTML/CSS;Java;JavaScript;SQL,C#;HTML/CSS;Java;JavaScript;SQL,.NET Core;Xamarin,.NET;.NET Core,Github;Microsoft Teams,Github,NaN,NaN,Critically important,NaN,NaN,Once a year,NaN,NaN,NaN,NaN,Start a free trial;Ask developers I know/work ...,Indifferent,NaN,Meditate;Visit Stack Overflow;Go for a walk or...,Windows,NaN,Arduino;Linux;Raspberry Pi;Windows,Android;Arduino;Linux;Raspberry Pi;Windows,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN

In [36]:
df['ConvertedComp'].head(50)

Respondent
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8      116000.0
9           NaN
10      32315.0
11      40070.0
12      14268.0
13      38916.0
14      66000.0
15          NaN
16     108576.0
17      79000.0
18    1260000.0
19      83400.0
20          NaN
21          NaN
22          NaN
23          NaN
24      91883.0
25          NaN
26      71093.0
27          NaN
28          NaN
29          NaN
30      38778.0
31          NaN
32      31764.0
33      63564.0
34          NaN
35          NaN
36      77556.0
37          NaN
38      97288.0
39          NaN
40          NaN
41     106000.0
42     130000.0
43     135000.0
44      55893.0
45      36753.0
46      37834.0
47      74970.0
48     125000.0
49      52000.0
50          NaN
Name: ConvertedComp, dtype: float64

# Dealing with the median func
<p>using the mean(average) is not efficient since that would be affected
by high salaries significantly</p>

In [37]:
df['ConvertedComp'].median()
# ^ for the whole survey
# ^ ignores NaN values

54049.0

In [38]:
df.median()
# would look thru only number containing col.s
# ^ looks thru the whole dframe

C:\Users\User\AppData\Local\Temp/ipykernel_18420/254219497.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Age                 29.0
CompTotal        63000.0
ConvertedComp    54049.0
WorkWeekHrs         40.0
dtype: float64

# getting a broad and statistical overview of data

In [39]:
df.describe()
# ^ a bunch of aggregates in one place for quick overviewing
# We can use .describe() for a series as well

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

# ^ Count - counts the # of non-NaN rows

In [40]:
df['ConvertedComp'].count()

34756

# Counting the # of unique answers

In [41]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

# What is the primary operating system in which you work?

In [42]:
df['OpSys'].value_counts()

Windows        27170
Linux-based    14932
MacOS          14075
BSD               51
Name: OpSys, dtype: int64

In [43]:
df['OpSys'].value_counts(normalize=True)
# normalize -> get the % from the all

Windows        0.483211
Linux-based    0.265562
MacOS          0.250320
BSD            0.000907
Name: OpSys, dtype: float64

# Education Level

In [44]:
df['EdLevel'].value_counts(normalize=True)

Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          0.462155
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       0.228309
Some college/university study without earning a degree                                0.126047
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    0.083074
Associate degree (A.A., A.S., etc.)                                                   0.032091
Other doctoral degree (Ph.D., Ed.D., etc.)                                            0.029427
Primary/elementary school                                                             0.016385
Professional degree (JD, MD, etc.)                                                    0.013930
I never completed any formal education                                                0.008584
Name: EdLevel, dtype: float64

In [45]:
df['Country'].value_counts()

United States       12469
India                8403
United Kingdom       3896
Germany              3890
Canada               2191
                    ...
Kiribati                1
Nauru                   1
Lesotho                 1
Saint Lucia             1
Marshall Islands        1
Name: Country, Length: 183, dtype: int64

# Grouping 
<h3>Processes of Grouping</h3>
<ul>
    <li>Splitting an object
        <li>Applying func.s
            <li>Combining results
    </ul>

In [46]:
country_grp = df.groupby(['Country'])
# the list in the groupby specifies a list of col.s to group by
# ^ contains groups of specfied col's values

# Applying funcs on each group

In [47]:
country_grp.get_group('Uzbekistan').value_counts('OpSys', normalize=True)
# ^ getting the group of the UZB

OpSys
Windows        0.53125
MacOS          0.31250
Linux-based    0.15625
dtype: float64

In [48]:
country_grp['OpSys'].value_counts(normalize=True).loc['South Korea']

OpSys
Windows        0.458824
MacOS          0.352941
Linux-based    0.188235
Name: OpSys, dtype: float64

In [49]:
country_grp['ConvertedComp'].median().loc['Uzbekistan']

14760.0

# Using agg() for applying multiple func.s

In [50]:
country_grp['ConvertedComp'].agg(['median', 'mean']).loc['South Korea']

median    40242.500000
mean      97086.012195
Name: South Korea, dtype: float64

# Using a simple and slow filtering rather than the group by

In [51]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()
# sum would count True=1 and False=0

2670

# Group by (norm)

In [52]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
# using apply on the series group and using lamda on each of the series

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

# How much % of people know python from each country?

In [53]:
country_respondents = df['Country'].value_counts()
country_respondents

United States       12469
India                8403
United Kingdom       3896
Germany              3890
Canada               2191
                    ...
Kiribati                1
Nauru                   1
Lesotho                 1
Saint Lucia             1
Marshall Islands        1
Name: Country, Length: 183, dtype: int64

In [34]:
uses_py = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
uses_py

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

# Using concat() for combining series

In [61]:
# we can combine multiple series together by using:
py_df = pd.concat([country_respondents, uses_py], axis='columns')
# Coz this would try to concat by rows, we specify by cols coz we 
# want by indexes
py_df

                  Country  LanguageWorkedWith
United States       12469                5964
India                8403                2670
United Kingdom       3896                1621
Germany              3890                1712
Canada               2191                1011
...                   ...                 ...
Kiribati                1                   0
Nauru                   1                   0
Lesotho                 1                   0
Saint Lucia             1                   1
Marshall Islands        1                   0

[183 rows x 2 columns]

In [72]:
py_df.rename(columns={'Country':'NumOfRespondents', 'LanguageWorkedWith':'NumKnowsPython'}, inplace=True)

In [73]:
py_df

                  NumOfRespondents  NumKnowsPython
United States                12469            5964
India                         8403            2670
United Kingdom                3896            1621
Germany                       3890            1712
Canada                        2191            1011
...                            ...             ...
Kiribati                         1               0
Nauru                            1               0
Lesotho                          1               0
Saint Lucia                      1               1
Marshall Islands                 1               0

[183 rows x 2 columns]

In [74]:
py_df['%KnowsPython'] = (py_df['NumKnowsPython']/py_df['NumOfRespondents'] * 100)
py_df

                  NumOfRespondents  NumKnowsPython  %KnowsPython
United States                12469            5964     47.830620
India                         8403            2670     31.774366
United Kingdom                3896            1621     41.606776
Germany                       3890            1712     44.010283
Canada                        2191            1011     46.143314
...                            ...             ...           ...
Kiribati                         1               0      0.000000
Nauru                            1               0      0.000000
Lesotho                          1               0      0.000000
Saint Lucia                      1               1    100.000000
Marshall Islands                 1               0      0.000000

[183 rows x 3 columns]

In [75]:
py_df.sort_values(by='%KnowsPython', ascending=False, inplace=True)

In [76]:
py_df

,NumOfRespondents,NumKnowsPython,%KnowsPython
Gabon,1,1,100.000000
Saint Lucia,1,1,100.000000
"Micronesia, Federated States of...",1,1,100.000000
Montenegro,13,9,69.230769
Brunei Darussalam,3,2,66.666667
...,...,...,...
Monaco,2,0,0.000000
Niger,5,0,0.000000
Saint Vincent and the Grenadines,3,0,0.000000
Gambia,4,0,0.000000
Marshall Islands,1,0,0.000000

# Edu-levels for some countries

In [77]:
country_group = df.groupby(['Country'])
country_group['EdLevel'].value_counts(normalize=True).loc[['Uzbekistan', 'South Korea', 'United States', 'Russian Federation']]

Country             EdLevel
Uzbekistan          Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          0.413793
                    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       0.206897
                    Some college/university study without earning a degree                                0.172414
                    I never completed any formal education                                                0.068966
                    Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    0.068966
                    Associate degree (A.A., A.S., etc.)                                                   0.034483
                    Primary/elementary school                                                             0.034483
South Korea         Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          0.529412
                    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       0.158824
                    Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    0.105882
                    Some college/university study without earning a degree                                0.100000
                    Associate degree (A.A., A.S., etc.)                                                   0.035294
                    I never completed any formal education                                                0.023529
                    Primary/elementary school                                                             0.017647
                    Professional degree (JD, MD, etc.)                                                    0.017647
                    Other doctoral degree (Ph.D., Ed.D., etc.)                                            0.011765
United States       Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          0.527020
                    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       0.181469
                    Some college/university study without earning a degree                                0.133140
                    Associate degree (A.A., A.S., etc.)                                                   0.048670
                    Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    0.047307
                    Other doctoral degree (Ph.D., Ed.D., etc.)                                            0.036311
                    Primary/elementary school                                                             0.015769
                    Professional degree (JD, MD, etc.)                                                    0.005199
                    I never completed any formal education                                                0.005114
Russian Federation  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       0.360082
                    Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          0.274691
                    Some college/university study without earning a degree                                0.137860
                    Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)    0.066872
                    Professional degree (JD, MD, etc.)                                                    0.065844
                    Other doctoral degree (Ph.D., Ed.D., etc.)                                            0.040123
                    Primary/elementary school                                                             0.025720
                    Associate degree (A.A., A.S., etc.)                                                   0.016461
                    I never completed any formal education                                                0.012346
Name: EdLevel, dtype: float64